{% extends "base.html" %}

{% block content %}
        <center><h1 class= "latest_jobs">Latest Jobs</h1></center>
        <ul>
            {% for job in jobs %}
            <div class="joblist">
                <p class="jobinfo">Company: {{ job.company.name }}</p>
                <p class="jobinfo">Job Title: {{ job.name }}</p>
                <p class="jobinfo">Job ID: {{ job.id }}</p>
                <p class="jobinfo">Location: {{ job.locations|first|make_list|slice:"10:-2"|join:""}}</p>
                <p class="jobinfo">Posting Date: {{ job.publication_date|make_list|slice:":10"|join:""}}</p>
                <button>
                    <a href="{{ job.refs.landing_page }}">Apply Now</a>
                </button>
            </div>
            {% endfor %}
        </ul> 
{% endblock %}