{% extends "base.html" %}

{% block content %}
        <h1>Latest Jobs</h1>
        <ul>
            {% for job in jobs %} 
            <div class="joblist">
                <p class="jobinfo">Company: {{ job.company.name }}</p>
                <p class="jobinfo">Job Title: {{ job.name }}</p>
                <p class="jobinfo">Job ID: {{ job.id }}</p>
                <p class="jobinfo">Location: {{ job.locations }}</p>
                <p class="jobinfo">Posting Date: {{ job.publication_date }}</p>
                <button>
                    <a href="{{ job.refs.landing_page }}">Apply Now</a>
                </button>
            </div>
            {% endfor %}
        </ul> 
{% endblock %}