/* editing the header backkground color, size etc */

h1 {

    background-color: #9fcfbe;
    padding: 0.50em;
    color: white;
    font-family: 'Lucida Grande';
    font-size: 200%;
    box-shadow: 2px 2px 4px #000000;				
}

/*.container {*/
    
/* below was to center all of the page links, but its still a little off */

/* below are squares, and shadow and spacing for the page links. Would like to build on this/update the code so it looks more like the wireframe. */


div {
    padding-top: 35px;
    padding-right: 200px;
    padding-bottom: 35px;
    padding-left: 200px;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Lucida Grande';
    font-size: 100%;
    color: #2f3e39;
    width: 60px;
}

/* Job board css below */

.joblist {
    background-color: #9fcfbe;
    width: 600px;
    padding: 10px;
    height: auto;
    color: black;
    border: 1px solid grey;
    margin-left: 9.5em;
    margin-top: 4em;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px rgb(65, 64, 64);
}

button {
    border: 1px solid #2f3e39;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px rgb(65, 64, 64);
}

a {
    color: #2f3e39;
    text-decoration: none;
}

a:visited {
    color: #2f3e39;   
}

h1 {
    text-align: center;
}

.jobinfo {
    color: black;
    text-align: center;
    box-shadow: none;
}

/* End of job board specific css*/

form {
    background-color: #9fcfbe;
    padding: 0.50em;
    box-shadow: 2px 2px 4px #000000;
    font-family: 'Lucida Grande';
    font-size: 100%;
    color: #2f3e39;
}