/* BELOW ABC NAV BAR */


.navbar {
    
    background-color: #2b365e;
    width: 100%;
    height: 55px;
    padding: 0; /* positions navbar at the top of screen */
    margin: 0; /* stretches navbar accross the screen */
    text-align: right; /* made all the links to the right of the navbar */
    
    
    
}   
    


.navbar a {   /* how the text looks in the navbar  */

    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin-top: 10%;
    color:  #778899;
    text-decoration: none;
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.navbar a:hover {
   font-weight: bold;  /* when you hover over with mouse its bold. */

}



body {
    background-color: #344472;
    margin: 0; /*  for some reason makes the navbar stretch all the way across? */  */

}

img {
   /* position: fixed; /* keeps the image at the top while you scroll */  
    top: 0px; /* keeps logo at the top of the screen */
    float: left; /* keeps logo in upper left hand corner */
    

}

/*BELOW ABC TITLE */


.homepage {  /* ABC on the homepage  */
     
    font-family: 'Work Sans', sans-serif;
    font-weight: 200px;
    color: white;
    font-size: 90px;
    position: fixed;
    top: 200px;
                
}

/* BELOW IS THE SUBTITLE/MISSION STATEMENT */


h2 {    /*  subtitle on the home page  */

   font-family: 'Crimson Text', serif;
   font-weight: bold;
   color: rgb(199, 173, 24);
   position: fixed;
   top: 350px;
   font-size: 27px; 
  

}


/* JOB BOARD CSS BELOW  */

.latest_jobs {

    text-align: center;
    color: white;
    font-size: 90px;
    font-weight: normal;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 1px solid  rgb(199, 173, 24);

}

.joblist {
    background-color: #616e9b;
    width: 600px;
    padding: 10px;
    height: auto;
    color: white;
    margin-left: 9.5em;
    margin-top: 4em;
    display: inline-block;
    text-align: center;
		box-shadow: 5px 5px #363e5a;
		border-radius: 5px;
}

button {
    border: 1px solid #2f3e39;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px rgb(65, 64, 64);
}



.jobinfo {
    color: white;
    font-size: 25px;
    text-align: center;
    box-shadow: none;

    
}

/* BEGINNING OF JOIN THE COMMUNITY PAGE CSS */

.join-com{
    text-align: center;
    line-height: 120px;
    color: white;
    font-size: 90px;
    font-weight: normal;
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 1px solid  rgb(199, 173, 24);
}

.form {
 
    font-family: 'Lucida Grande';
    font-size: 100%;
    color: black;
    font-weight: bold;
    outline: none;
}



/* BEGINNING OF LEARNING RESOURCES */

.resources-title {
    text-align: center;
    color: white;
    font-size: 90px;
    font-weight: normal;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 1px solid  rgb(199, 173, 24);
}


p {
	font-family: 'Work Sans', sans-serif;
	color: white;

}

.img {
	border-radius: 5px;

}

.container {
	display:flex;
	align-content: center;
	
	
	
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* sets the direction that lines are stacked. */ 
	margin: 80px; /* Increased margins between links and descriptions vertically on each row */
  border-radius: 5px;	

}

.column {
  display: flex;
	flex-direction: column; 
	flex-shrink: 2;
	margin: 40px;

}

.box {
	background-color: #5e6b9b;
	padding: 2px;
	margin: 30px;
	border-radius: 5px;
	align-content: center;
}

.descrip {
	flex-shrink: 2;
	align-content: center;
}








/* END OF LEARNING RESOURCES  */