<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{ message }}</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    </head>
    <body>
        <img src= "{% static 'img/abc_logo.png' %}" alt="logo" valign="top" height="53" width="95">

        <div class="navbar" id="myNavbar">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'job_board:get_jobs' %}">Job Board</a>
                <a href="{% url 'join_us:contact' %}">Join Us</a>
                <a href="{% url 'resources' %}">Learning Resources</a>
                <a href="{% url 'learning_platform:learning_platform' %}">Learning Platform</a>                     
        </div>
        {% block content %}{% endblock %}
    </body>
</html>