{% extends "base.html" %}

{% load static %}

{% block content %}

<center><h1 class="resources-title">Learning Resources</h1></center>
    <body>
        <div class="container">
					<div class="row">
						<div class="box">
							<div class="column">
            			<div class="res-image">  
											<a href="https://www.freecodecamp.org"><img src="{% static 'img/freecodecamp.png' %}" width="380" height="240" alt="FCC" class= "img"></a>
									</div>
								</div>
							<div class="column">
									<div class="descrip">
											<center><p> A non-profit organization with interactive <br> learning web platform,
																	an online community forum, chat rooms,
						 											and interactive coding coursework for many languages.</p></center>
									</div> 
								</div>
						</div> 
						<div class="box">         
							<div class="column">
        	  			<div class= "res-image">
										<a href="https://www.python.org/doc/"><img src=" {% static 'img/pythondoc.png' %}" width="380" height= "240" alt="python doc" class= "img"></a>
									</div>
							</div>
							<div class="column">
									<div class="descrip">
										<center><p> A free website specifically for Python.<br> A great language to start learning whether you are a 
													first time programmer or experienced in other languages. </p></center> 
									</div>   
								</div>
							</div> 
					</div>
          <div class="row">
						<div class="box">
							<div class="column">
            			<div class="res-image">
											<a href="https://learnjavascript.online/"><img src=" {% static 'img/learnjs.png' %}" width="380" height= "240" alt="python doc" class= "img"></a>
									</div>
							</div>
							<div class="column">
									<div class="descrip">
										<center><p> An interactive environment with short lessons to learn JavaScript basics and beyond. You can follow along, take notes and complete challeneges.</p></center>
									</div> 
							</div>
						</div>
						<div class="box">    
							<div class="column">
            			<div class="res-image">
											<a href="https://www.w3schools.com/html/default.asp"><img src=" {% static 'img/w3schools.png' %}" width="380" height= "240" alt="pythondoc" class="img"></a>
									</div>
							</div>
							<div class="column">
									<div class="descrip">
										<center><p class="descrip">An educational website for learning several web technologies. Tutorials and references are featured on the site for many programming languages including HTML and CSS basics.  </p></center>
									</div>
							</div>
						</div>
					</div>           
                   
           <!-- <div class="res-img"> 
								<a href="https://css-tricks.com/"><img src=" {% static 'img/w3schools.png' %}" width="300" height="280" alt="pythondoc" id="image"></a>
						</div>
            <p class="res-img">You can use w3schools to learn CSS</p> -->
                
					</div>
      
       
       
    </body>

{% endblock %}
