{% extends "base.html" %}

{% load static %}

{% block content %}

<center><h1 class="resources-title">Learning Resources</h1></center>
    <body>
			<center>
        <div class="container">
            <div class="res-img">  
							<a href="https://www.freecodecamp.org"><img src="{% static 'img/freecodecamp.png' %}" width="300" height="280" alt="FCC" id="image"></a>
						</div>
					<strong><p class="res-img"> Non-proft organization with interactive learning web platform, an online community forum, chat rooms and interactive coding coursework for multiple languages</p></strong>
                    
            
            
        	  <div class= "res-img">
							<a href="https://www.python.org/doc/"><img src=" {% static 'img/pythondoc.png' %}" width="300" height= "280" alt="python doc" id="image"></a>
						</div>
            <strong><p class="res-img"> Free website specifically for Python. <br> Python is easy to pic up whether you're a first time programmer or experienced in other languages. </p></strong>  
            
                      
              
            <div class="res-img">
							<a href="https://learnjavascript.online/"><img src=" {% static 'img/learnjs.png' %}" width="300" height= "280" alt="python doc" id="image"></a>
						</div>
            <strong><p class="res-img">Great website to learn Javascript. <br> An interactive environment with short lessons where you can take notes and complete challenges.</p></strong>
               
   
            
               
            <div class="res-img">
								<a href="https://www.w3schools.com/html/default.asp"><img src=" {% static 'img/w3schools.png' %}" width="300" height= "280" alt="pythondoc" id="image"></a>
						</div>
            <strong><p class="res-img">You can use w3schools to learn HTML and CSS</p></strong>
                       

                   
           <!-- <div class="res-img"> 
								<a href="https://css-tricks.com/"><img src=" {% static 'img/w3schools.png' %}" width="300" height="280" alt="pythondoc" id="image"></a>
						</div>
            <p class="res-img">You can use w3schools to learn CSS</p> -->
                
            </div>
        </div>
      </center>    
       
       
    </body>

{% endblock %}
