{% extends "base.html" %}

{% block content %}
<h1>Learning Resources</h1>
    <h2>Python</h2>
        <ol>
            <li><a href="https://www.freecodecamp.org">FreeCodeCamp</a></li>
            <li><a href="https://www.python.org/doc/">Python Documentation</a></li>
        </ol>
    <h2>Javascript</h2>
        <ol>
            <li><a href="https://learnjavascript.online/">Learn Javascript</a></li>
            <li><a href="https://www.learn-js.org/">Learn JS</a></li>
        </ol>
    <h2>HTML</h2>
        <ol>
            <li><a href="https://www.w3schools.com/html/default.asp">w3schools</a></li>
        </ol>
    <h2>CSS</h2>
        <ol>
            <li><a href="https://css-tricks.com/">CSS-Tricks</a></li>
        </ol>

{% endblock %}